body {
	background-color: rgb(164, 135, 255);
}
.atraducir{
	font-family:sans-serif;
	font-size:25px;
}
p{
	font-family:sans-serif;
	font-size:15px;
}
.Texp{
	text-align:center;
}
a{
	text-decoration:none;
	color:black;
}
.footer{
	background-color: green;
	width:500px;
	margin-left: 400px;
	margin-top: 175px;
	text-align:center;
}
.info{
	background-color: rgb(204, 255, 169);
}
#newText{
	background-color: rgb(156, 255, 182);
	width:400px;
	text-align: center;
}
